/*========================== FONTS =============================*/
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100;200;300&family=Montserrat:ital,wght@0,300;0,500;0,600;1,400&display=swap');

/*========================== VARIABLES =========================*/
:root{
    --primary-font: "Advent Pro", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --bg: #17191A;
    font-size: 10px;
   
 
}

/*========================== RESET =============================*/
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    text-decoration: none;
}

body{
    background-color: var(--bg);
}
/*================ FORMATAÇÃO DE TEXTOS GLOBAL =============================*/
h1, h2, h3, h4{
    font-family: var(--primary-font);
    color: #eee;
    font-weight: 200;
    text-align: center;
}

button, label, 
li, input, textarea, 
p, a{
    font-family: var(--secondary-font);
    font-weight: 300;
    color: rgb(216, 216, 216);
}


/*========================= CABEÇALHO ==========================*/

#header{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-image: url("../images/h-banner.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

/*================= HEADER: NAVIGATION ================*/

nav .menu{
    opacity: 0;
    visibility: hidden;
}

/*================= NAVIGATION: MENU DISPLAYED ============================*/

nav.show .menu{
    opacity: 1;
    visibility: visible;
    background-color: #17191A;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-content: center;
    transition: .5s;
    z-index: 100;
    
}
nav.show ul{
    display: grid;
    gap: 4rem;

}

nav.show ul li{
    list-style-type: none;
    font-size: 3rem;
    text-align: center;
}

/*===================== NAVIGATION: TOGGLE MENU =============================*/
.open, .close{
    position: fixed;
    top: 0;
    right: 1rem;
    color: #eee;
    font-size: 3rem;
    cursor: pointer;
    z-index: 100;
}

nav .close{
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

nav.show .close{
    visibility: visible;
    opacity: 1;
}

nav.show .open{
    opacity: 0;
    visibility: hidden;
}
/*====================== HEADER: TITLE ======================================*/

h1{
    font-size: 6rem;
}

h2{
    font-size: 3rem;
}

/*===================== MAIN - SECTION: SOBRE==============================*/

main h3{
    font-size: 4rem;
    margin: 1rem 0 ;
}

#sobre{
    display: flex;
    flex-flow: column nowrap;
}

.greeting{
    margin: auto;
}

.sobre-img{
    display: none;
}

.greeting p{
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.7;
    text-indent: 2rem;
    hyphens: auto;
    font-size: 1.5rem;
}

.skills{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    flex-grow: 3;
}

.skills-items ul{
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    
}

.skills-items ul li{
    font-size: 1.5rem;
    list-style-type: none;
    text-align: center;

}

.skills-items ul li i{
    font-size: 2.5rem;
    display: block;
}

/*=========================== MAIN - SECTION:PROJETOS =====================*/

#projetos{
    width: 100vw;
    height: 100vh;
}
.projetos-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    height: 90%;
}

.projeto{
    width: 90vw;
    height: 33vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.412);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    gap: 1rem;
}

.projeto1{
    background-image: url("../images/project-banner1.jpg");
    background-size: cover;
    background-blend-mode: color;
    margin-top: 5%;
}

.projeto2{
    background-image: url("../images/project-banner2.jpg");
    background-size: cover;
    background-blend-mode: color;
}

.projeto3{
    background-image: url("../images/project-banner3.jpg");
    background-size: cover;
    background-blend-mode: color;
}

.projeto h4{
    font-size: 3rem;
    font-weight: 500;
    margin: .5rem auto;
}

.projeto p{
    width: 90vw;
    margin: auto;
    font-size: 1.5rem;
    text-align: justify;
    hyphens: auto;
    padding: .45rem;
}

.btn{
    color: #eee;
    font-size: 1.5rem;
    font-weight: 600;  
    transition: all .5s;   
}

a:hover{
    font-size: 1.7rem;
}


/*============================= MAIN - SEÇÃO 3 : CONTATO ====================*/
#contato{
    width: 100vw;
    height: 100vh;
}

.form-contato{
    height: 80vh;
    
}

.form-contato form{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: .5rem;  
    width: 100vw; 
    height: 80vh;
    margin-top: 5rem;
}

.label-input{
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
}

.label-input label{
    width: 100%;
    margin: .5rem auto;
    font-size: 3rem;
    font-weight: 500;
    text-indent: 3rem;
}

.label-input input{
    height: 5rem;
}

.label-input input, textarea{
    outline: none;
    margin: auto;
    width: 90vw;
    border: none;
    border-bottom: solid 0.1rem #eee;
    background: transparent;
    font-size: 1.5rem;
}

.label-input textarea{
    height: 25vh;
}

.f-btn{
    height: 6vh;
    color: #17191A;
}
/*======================= FOOTER ===============================*/
#footer{
    width: 100vw;
    height: 30vh;
    
}
#footer p{
    margin: auto;
    width: 90%;
    font-size: 1.5rem;
    text-align: center;
    hyphens: auto;
}

#footer ul{
    margin: 2rem auto;
    height: 70%;
}

#footer ul li{
    list-style-type: none;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
}



