/*==================== WEB FONTS IMPORT ======================*/
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500&family=Jura:wght@300;400;500;600&family=Laila:wght@300;400;500&family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Marcellus&family=Merienda:wght@400;700&family=Poiret+One&family=Quicksand:wght@300;400;500;600;700&family=Sen&family=Space+Grotesk:wght@300;400;500&display=swap');

/*===================== GLOBAL SETTINGS =====================*/
:root{
    font-size: 10px;
    --title-font: "El Messiri";
    --itens-font: "M PLUS Rounded 1c";
    --para-font: "Space Grotesk";
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
}


h3{
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 300;
    text-align: center;
    color: #300D0B;
}

a{
    text-decoration: none;
    color: black;

}

li{
    list-style-type: none;
}

/*=================== MENU ========================================*/
    /*======================== SHOWING MENU =================*/
.n-container.show .menu{
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 10vh;
    background-color: #F2F2F0;
    animation-name: move-menu;
    animation-duration: 1s;
    z-index: 100;
}


.n-container.show .menu ul li{
    text-align: center;
}


.n-container.show .menu ul li a{
    font-size: 4rem;
    font-family: var(--itens-font);
    font-weight: 500;
    color: #1F261F;
    transition: all 1s;
}

.n-container.n-container.show .menu ul li a:hover{
    color: #73463C;
}

.n-container.show .open{
    display: none;
}

.n-container.show .close{
    display: block;
    position: fixed;
    top: 2vh;
    right: 2vw;
    font-size: 3rem;
    color: #1F261F;
    cursor: pointer;
    transition: all 1s;
}

.n-container.show .close:hover{
    color: #73463C;
}

        /*=============== NOT SHOWING MENU =================*/

.n-container .menu{
    display: none;
}


.n-container .open{
    position: fixed;
    top: 2vh;
    right: 2vw;
    font-size: 3rem;
    cursor: pointer;
    transition: all 1s;
    color: #B29E6A;
}

.n-container .open:hover{
    color: #73463C;
}

.n-container .close{
    display: none;
}

/*==================== HEADER - TITLE ======================*/
.header-title{
    background-color: #00000027;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/banner9.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-blend-mode: color;
    overflow: hidden;
  }

.header-title h1{
    font-size: 5rem;
    font-family: var(--title-font);
    font-weight: 300;
    color: #1F261F;
    text-align: center;
    padding-left: 2rem;

}

.header-title h2{
    font-size: 2.5rem;
    font-family: var(--title-font);
    font-weight: 400;
    color: #1F261F;
    padding-left: 3rem;
    text-align: center;
}


/*====================== MAIN - SOBRE ==============================*/
    /*INTRODUÇÃO*/
#sobre{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greeting{
    background-color: #F2F2F0;
    width: 90%;
    height: 70vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.greeting p{
    font-size: 1.5rem;
    font-family: var(--para-font);
    font-weight: 500;
    text-align: justify;
    text-indent: 1rem;
    color: #1f261fbe;
    padding: .5rem;
    width: 95%;
}

    /*SKILLS*/

.skills{
    background-color: #F2F2F0;
    width: 90%;
    height: 60vh;
    margin: auto;
}


.skills .skills-items ul{
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.skills .skills-items ul li{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
}

.skills .skills-items ul li span{
    font-size: 1.5rem;
    font-family: var(--itens-font);
    padding-left: 1.5rem;
}


.bar{
    width: 70%;
    height: 3.5vh;
    background-color: #300D0B;
}

.progress{
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--itens-font);
    font-weight: 500;
    color: #1F261F;
    background-color: #CBCBCB;
    height: 100%;
    animation-name: move-progress;
    animation-duration: 1s;
}

@keyframes move-progress {
    0%{
        width: 1%;
        
    } 
}

/*======================== MAIN - PROJETOS ========================*/
#projetos{
    margin: auto;
    width: 100%;
    height: 100vh;
    margin-top: 1.5rem;
    border-top: solid  .5px rgba(66, 66, 66, 0.089);
}

.projetos-container{
    margin: auto;
    width: 80%;
    height: 80%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.projetos-container .projeto{
    width: 100%;
    height: 30%;
    background-color: #300d0b3d;
    display: flex;
    flex-direction: column;
}
.projetos-container .projeto h4{
    color: #F2F2F0;
    font-size: 3rem;
    font-family: var(--title-font);
    font-weight: 300;
    text-align: center;
}

.projetos-container .projeto p{
    color: #ffffff;
    font-size: 1.2rem;
    font-family: var(--para-font);
    font-weight: 500;
    text-align: justify;
    hyphens: auto;
    width: 95%;
    margin: auto;
 
}

.projetos-container .projeto a{
    margin: auto;
    color: #fff;
    font-size: 2rem;
    font-family: var(--itens-font);
    transition: all .5s;
}

.projetos-container .projeto a:hover{
    background-color: #cbcbcb59;
    border-radius: 5px;
    padding: .3rem;
}

.projetos-container .projeto1{
    background-image: url('../images/project-banner1.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}

.projetos-container .projeto2{
    background-image: url(../images/project-banner2.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}


.projetos-container .projeto3{
    background-image: url(../images/project-banner3.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: color;
}

/*=========================== SEÇÃO - CONTATO =================================*/
#contato{
    background-color: #faf9f9;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    border-top: solid .1rem rgba(0, 0, 0, 0.11);
}

.form-contato{
    width: 80%;
    height: 90vh;
 
}

.form-contato form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.label-input{
    width: 100%;
    position: relative;
    margin-top: 5rem;
    
    
}

.label-input .label{
    position: absolute;
    left: 0;
    bottom: 5rem;
    font-size: 2rem;
    font-family: var(--itens-font);
    color: #300d0b85;
    font-style: italic;
    padding: 1rem;
    transition: all 1s;
}

.input:focus  ~ .label{
    bottom: 4rem;
}


.label-input .input{
    width: 91%;
    height: 5vh;
    border-bottom: solid .5px rgba(0, 0, 0, 0.521);
    background:none ;
    font-size: 1.5rem;
    font-weight: 300;
    color: #1f261fb7;
    line-height: 1.5rem;

}

.label-input textarea{
    min-width: 91%;
    max-width: 91%;
    min-height: 5vh;
    max-height: 5vh;
}


.f-btn{
    font-size: 2rem;
    font-family: var(--itens-font);
    font-weight: 400;
    padding: .5rem;
    color: #f1ebeb;
    background-color: #73463C;
    border-radius: .5rem;
    cursor: pointer;
}

/*===================== FOOTER ==========================*/
#footer{
    width: 100%;
    height: 20vh;
    border-top: solid .1px rgba(0, 0, 0, 0.219);
}

.cpr{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--para-font);
    text-align: center;
    color: #300D0B;
}

.social-container{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.social-container li i{
    display: block;
    text-align: center;
    font-size: 3rem;
    color: #300D0B;
    transition: all 1s;
}

.social-container li i:hover{
    color: #5c1814;
}